<div id="msgBox"></div>

<form action="/upload" method="post" enctype="multipart/form-data" id="uploader">
    <input id="projectName" name="projectName" placeholder="Project name" />
    <label for="zipfile">Zip file</label>
    <input type="file" name="zipfile" id="zipfile" />
    <input type="submit" value="Upload" id="uploadBtn" disabled="disabled" />
</form>

<div id="zipFile">
    <h2 id="zipFileName"></h2>
    <ul id="zipFileList"></ul>
</div>

<script src="jszip/dist/jszip.js"></script>
<script src="js/main.js"></script>