<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="description" content="Guardian visuals static uploader">
        <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
        <meta name="robots" content="noarchive">
        <link type="text/css" rel="stylesheet" href="css/styles.css" />
        <title>Guardian visuals static uploader</title>
    </head>
    <body>
        {{> body }}

        <script src="js/main.js"></script>
    </body>
</html>