body {
    margin: 0;
    padding: 0;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    font-size: 18px;
}

header {
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    background: #005689;
    color: #FFF;
    padding: 7px 10px;
    font-weight: 700;
    line-height: 0.9rem;
}

#logo svg {
    width: 80px;
    height: 15px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

header a {
    color: #FFF;
    text-decoration: none;
}

#wrapper {
    margin: 2rem;
}

.stepNum {
  display: inline-block;
  padding: 10px;
  background: #F2F2F2;
  border-radius: 70%;
  width: 1.5rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.4rem;
  font-size: 1.6rem;
}

#zipfile {
    padding: 9% 2rem;
    background: #005689;
    border: 4px dotted #FFF;
    color: #fff;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

#uploadBtn {
    padding: 10px 20px;
}

#msgBox {
    background: #E46B4C;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    color: #fff;
    margin: 0.6rem 0;
    display: none;
}

#msgBox.active {
    display: block;
}

.hide {
    display: none;
}

.show {
    display: block;
}