body {
    margin: 0;
    padding: 0;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    font-size: 18px;
}

header {
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    background: #005689;
    color: #FFF;
    padding: 7px 10px;
    font-weight: 700;
    line-height: 0.9rem;
}

#logo svg {
    width: 80px;
    height: 15px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

header a {
    color: #FFF;
    text-decoration: none;
}

#wrapper {
    margin: 2rem auto;
    max-width: 1020px;
}

#steps {
    overflow: hidden;
    border-bottom: 1px solid #EEE;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
#step2 {
    display: none;
}

.step {
    float: left;
    width: 120px;
    display: block;
}
.step a {
    text-decoration: none;
    color: #000;
}
.step1 {
    cursor: pointer;
}
.step1:hover {
    opacity: 1;
}


.stepNum {
  display: inline-block;
  padding: 10px;
  background: #F2F2F2;
  border-radius: 70%;
  width: 1.5rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.4rem;
  font-size: 1.6rem;
}

#zipFileName {
    font-weight: 700;
}

.disabled {
    opacity: 0.3;
}

#uploader {
    clear: both;
}

#zipfile {
    padding: 9% 2rem;
    background: #005689;
    border: 4px dotted #FFF;
    color: #fff;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

#zipFileList {
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 12px;
    line-height: 15px;
    padding-left: 1rem;
}

#projectNameLabel {
    display: block;
    margin-bottom: 0.4rem;
}

#projectName {
  display: block;
  font-size: 1.4rem;
  padding: 0.2rem 0.5rem;
  float: left;
    margin-right: 8px;
    margin-bottom: 0.3rem;
}

#uploadBtn {
  font-size: 1.4rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

#msgBox {
    background: #E46B4C;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    color: #fff;
    margin: 0.6rem 0;
    display: none;
}

#step2Wrapper {
    float: right;
    width: 50%;
}
#zipFile {
    float: left;
    width: 50%;
}

#zipFile p {
    margin: 0;
}

#msgBox.active {
    display: block;
}


.url-preview {
  font-family: monospace;
  font-size: 12px;
  background: #F9F9F9;
  padding: 6px 10px;
}

.projectNamePreview {
  background: rgb(229, 229, 229);
  display: inline-block;
  padding: 2px 6px;
  margin: 0 3px;
}

#embedPath {
  display: block;
  background: #F7F7F7;
  padding: 0.8rem 1.1rem;
  font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1rem;
  border: 1px solid #F1F1F1;
  margin: .8rem 0;
}


.previewHeader {
  margin: 2rem 0 0.5rem;
}

.preview {
  float: left;
  margin-right: 30px;
}

.preview .embedPreview {
  margin-right: 10px;
}

.embedPreviewMobile {
  width: 300px;
}

.embedPreviewDesktop {
  width: 620px;
}

.previewType {
  margin: 0.3rem 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}